@model TrashCollection.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm(@*"Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }*@))
{
    @Html.HiddenFor(model => model.FirstName);
    @Html.HiddenFor(model => model.LastName);
    @Html.HiddenFor(model => model.PhoneNumber);
    @Html.HiddenFor(model => model.Password);
    @Html.HiddenFor(model => model.Email);


    List<SelectListItem> listItems = new List<SelectListItem>();
    listItems.Add(new SelectListItem
    {
        Text = "Monday",
        Value = "Monday"
    });
    listItems.Add(new SelectListItem
    {
        Text = "Tuesday",
        Value = "Tuesday"
    });
    listItems.Add(new SelectListItem
    {
        Text = "Wednesday",
        Value = "Wednesday"
    });
    listItems.Add(new SelectListItem
    {
        Text = "Thursday",
        Value = "Thursday"
    });
    listItems.Add(new SelectListItem
    {
        Text = "Friday",
        Value = "Friday"
    });

    <div class="form-group">
        @Html.LabelFor(m => m.PickUpDay, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.PickUpDay, listItems, "--Select Pick Up Day--", new { @class = "form-control" })
        </div>
    </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Register" />
            </div>
        </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
